<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }} of {{forecastData.name}}!
  </h1>
  
  <h4>Coordinates </h4> 
  <span> Longitude :{{forecastData.coord.lon}} , Latitude : {{forecastData.coord.lat}}</span>
<br>
<br>	
	<div *ngFor = "let item of forecastData.weather">
	 <span>Weather Today: {{item.description}}</span>
	</div>
	
<hr>	
	<h4>Weather Details</h4>
	<ul style="list-style-type:disc">
  <li>Temperature: {{forecastData.main.temp}}</li>
  <li>Pressure: {{forecastData.main.pressure}}</li>
  <li>Humidity: {{forecastData.main.humidity}}</li>
  <li>Minimum Temperature: {{forecastData.main.temp_min}}</li>
  <li>Maximum Temperature: {{forecastData.main.temp_max}}</li>
	</ul>  
<hr>
	<h4>Wind</h4>
		<ul style="list-style-type:disc">
		<li>Speed: {{forecastData.wind.speed}}</li>
		<li>Degree: {{forecastData.wind.deg}}</li>
		</ul>
		
<hr>

<h4> Sun </h4>
<ul style="list-style-type:disc">
<li>Sun Rise : {{forecastData.sys.sunrise}}</li>
<li>Sun Set : {{forecastData.sys.sunset}}</li>
</ul>

</div>  